//META{"name":"Foxy_theme","description":"My first theme ever ^^; hope you enjoy!","author":"Darky","version":"0.0"}*//

.status-online {
    background-color:#1fd4e8;
}

.status-idle {
    background-color:#66e806;
}

.status-dnd {
    background-color:#f59808;
}

.status-invisible, .status-offline {
    background-color:#8e0dec;
}

.status-streaming {
  background-color:#870cff;
}
.message-group .comment .markup {

font-family: cursive;

font-style: italic;

font-weight: normal;
}

.overflowEllipsis-3Rxxjf {

font-family: cursive;

font-style: italic;

font-weight: normal;
}

.channel-members h2 {
 
font-family: cursive;

font-style: italic;

font-weight: normal;
}
